<!--Profile- Profile 1-->
<ion-content>
  <ion-grid *ngIf="data != null">
    <ion-row>
      <ion-col col-12>
        <ion-card transparent text-center>
          <ion-item box-shadow transparent text-center *ngIf="data != null" background-size
            [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
            <ion-avatar>
              <img [src]="data.image" alt="">
            </ion-avatar>
            <h1 item-title>{{otpValReq.userId}}</h1>
            <p text-wrap item-title>{{custLocation}}</p>
          </ion-item>
          <ion-row no-padding margin-top>
            <!-- <ion-col>
            <button ion-button button-clear clear no-padding>
              <span small-font font-bold ion-text color="accent">{{data.valueFollowers}}</span>
              <span ion-text text-caprasad@iamrisingstar:~/data/projects/be-project/e-insurance-app$ pitalize color="accent">{{data.followers}}</span>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button button-clear clear no-padding>
              <span small-font font-bold ion-text color="accent">{{data.valueFollowing}}</span>
              <span ion-text text-capitalize color="accent">{{data.following}}</span>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button button-clear clear no-padding>
              <span small-font font-bold ion-text color="accent">{{data.valuePosts}}</span>
              <span ion-text text-capitalize color="accent">{{data.posts}}</span>
            </button>
          </ion-col> -->
            <!-- Social Button-->
            <ion-col col-12 text-center>
              <button ion-button button-icon icon-only button-icon (click)="bioAuth()">
                <ion-icon icon-small name="md-archive"></ion-icon>
              </button>

              <!--<button ion-button icon-only button-icon (click)="onEvent('onTwitter', item, $event)">
                <ion-icon icon-small name="{{data.iconTwitter}}"></ion-icon>
              </button> -->

              <!-- <button ion-button icon-only button-icon (click)="onEvent('onInstagram', item, $event)">
                <ion-icon icon-small name="{{data.iconInstagram}}"></ion-icon>
              </button> -->

            </ion-col>
            <!-- Info Author-->
            <div *ngIf="customers != null">
              <ion-col col-12 text-left margin-top box-shadow>
                <ion-item transparent>
                  <h1 subitem-title ion-text>Private Data</h1>
                  <p subitem-subtitle padding-top text-wrap>This data is secured with biometric and otp !!</p>

                </ion-item>
                <ion-item no-lines transparent>
                  <h1 subitem-title ion-text><b>Policy No :</b></h1>
                  <ion-icon icon-medium name="md-archive" item-start></ion-icon>
                  <p no-margin subitem-title>{{customers.policyNo}}</p>
                </ion-item>
                <ion-item no-lines transparent>
                  <h1 subitem-title ion-text><b>Sum Assurred :</b></h1>
                  <ion-icon icon-medium name="md-archive" item-start></ion-icon>
                  <p no-margin subitem-title>{{customers.sumAssured}}</p>
                </ion-item>
                <ion-item no-lines transparent>
                  <h1 subitem-title ion-text><b>Plan :</b></h1>
                  <ion-icon icon-medium name="md-archive" item-start></ion-icon>
                  <p no-margin subitem-title>{{customers.plan}}</p>
                </ion-item>
                <ion-item no-lines transparent>
                  <h1 subitem-title ion-text><b>Policy Term :</b></h1>
                  <ion-icon icon-medium name="md-archive" item-start></ion-icon>
                  <p no-margin subitem-title>{{customers.term}} years</p>
                </ion-item>
                <ion-item no-lines transparent>
                  <h1 subitem-title ion-text><b>Mobile No. :</b></h1>
                  <ion-icon icon-medium name="md-archive" item-start></ion-icon>
                  <p no-margin subitem-title>{{customers.mobile}}</p>
                </ion-item>
                <ion-item no-lines transparent>
                  <h1 subitem-title ion-text><b>Issued By :</b></h1>
                  <ion-icon icon-medium name="md-archive" item-start></ion-icon>
                  <p no-margin subitem-title>{{customers.location}} Division</p>
                </ion-item>
                <ion-item no-lines transparent>
                  <h1 subitem-title ion-text><b>Purpose :</b></h1>
                  <ion-icon icon-medium name="md-archive" item-start></ion-icon>
                  <p no-margin subitem-title>{{customers.purpose}}</p>
                </ion-item>

              </ion-col>
            </div>

          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>