<div class="photo-section" data-background-image="assets/images/section-background.jpg"
  style="background-image: url('assets/images/section-background.jpg')">
  <div class="text-content white-font margin-bottom-50">
    <div class="container">
      <h1>E-Insurance App</h1>

      <router-outlet></router-outlet>


    </div>
  </div>
</div>