<div class="container">
  <div class="margin-top-25 row">
    <div class="col-xl-8 col-lg-8 content-right-offset">
      <!-- Hedline -->
      <h3 class="margin-top-50">Policy Holder Details</h3>
      <div class="row">
        <div style="    margin-left: 2%;       min-height: 100px;      margin-right: 0%;">
          <ul class="intro-stats margin-top-45 ">
            <!-- <li>
              <strong class="counter">{{apt.approved}}</strong>
              <span>Approved Appointments</span>
            </li> -->
            <!-- <li>
              <strong class="counter">{{apt.rejected}}</strong>
              <span>Pending Appointments</span>
            </li> -->
            <li>
              <strong class="counter">{{apt.total}}</strong>
              <span>Total Policy</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row  margin-top-30">
    <div class="col-xl-12 col-md-12">
      <div class="section-headline margin-bottom-30">
        <h4>Appointments Details</h4>
      </div>
      <table class="basic-table">
        <tbody>
          <tr>
            <th>Policy No</th>
            <th>Customer Id</th>
            <th>Name</th>
            <th>Plan</th>
            <th>Term</th>
            <th>Sum Assured</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Purpose</th>
            <th>Location</th>
            <th>Edit</th>
          </tr>

          <tr *ngFor="let a of customers;">
            <td>{{a?.policyNo}}</td>
            <td>{{a?.customerId }}</td>
            <td>{{a?.name}}</td>
            <td>{{a?.plan}}</td>
            <td>{{a?.term}}</td>
            <td>{{a?.sumAssured}}</td>
            <td>{{a?.mobile}}</td>
            <td>{{a?.email}}</td>
            <td>{{a?.purpose}}</td>
            <td>{{a?.location}}</td>

            <td>
              <div>

                <button type="button" (click)="deleteUser(a)" class="button"><i
                    class="icon-material-outline-highlight-off"></i></button>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>




</div>