<div class="dashboard-content-container" data-simplebar="init">
  <div class="simplebar-track vertical" style="visibility: visible;">
    <div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 31px;"></div>
  </div>
  <div class="simplebar-track horizontal" style="visibility: visible;">
    <div class="simplebar-scrollbar" style="visibility: visible; left: 0px; width: 25px;"></div>
  </div>
  <div class="simplebar-scroll-content" style="padding-right: 15px; margin-bottom: -30px;">
    <div class="simplebar-content" style="padding-bottom: 15px; margin-right: -15px;">
      <div class="dashboard-content-inner" style="min-height: 229px;">

        <div class="dashboard-headline">
          <h3>Howdy, {{userId}}!</h3>
          <span>We are glad to see you again!</span>

        </div>

        <div class="fun-facts-container">
          <div class="fun-fact" data-fun-fact-color="#36bd78">
            <div class="fun-fact-text">
              <span>Total Appoinments</span>
              <h4>{{dashboardSummary.totalApt}}</h4>
            </div>
            <div class="fun-fact-icon" style="background-color: rgba(54, 189, 120, 0.07);">
              <i class="icon-material-outline-gavel" style="color: rgb(54, 189, 120);"></i>
            </div>
          </div>

          <div class="fun-fact" data-fun-fact-color="#2a41e6">
            <div class="fun-fact-text">
              <span>This Month Appoinments</span>
              <h4>{{dashboardSummary.thisMonthApt}}</h4>
            </div>
            <div class="fun-fact-icon" style="background-color: rgba(42, 65, 230, 0.07);">
              <i class="icon-feather-trending-up" style="color: rgb(42, 65, 230);"></i>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>
</div>