<!--Login page component-->
<ion-header>
    <ion-navbar header-color>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

    </ion-navbar>
</ion-header>
<!--Content-->

<!-- PAGE LOGIN - Login + logo 1 -->
<login-layout-1 has-header *ngIf="params.loginLayout1" [data]="params.data | async" [events]="params.events">
</login-layout-1>
<!-- PAGE LOGIN - Login + logo 2 -->
<!-- <login-layout-2 has-header *ngIf="params.loginLayout2" [data]="params.data | async" [events]="params.events">
</login-layout-2> -->