<!-- Themes Register + Image -->
<ion-content white-background>
    <ion-grid *ngIf="data != null">
        <ion-row wrap padding>
            <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <!--Logo-->
                <div logo>
                    <img [src]="data.logo" *ngIf="data.logo != null" />
                </div>
                <!--End logo-->
                <!--Form-->
                <div class="form">
                    <ion-item no-padding transparent>
                        <!--Icon for username-->
                        <ion-icon item-left>
                            <i icon-small class="icon {{data.iconAccount}}"></i>
                        </ion-icon>
                        <!---Input field username-->
                        <ion-label floating>{{data.username}}</ion-label>
                        <ion-input required type="text" [(ngModel)]="registerReq.customerId"></ion-input>
                        <ion-label error-field color="secondary" no-margin *ngIf="!isUsernameValid">{{data.errorUser}}
                        </ion-label>
                    </ion-item>
                    <ion-item no-padding transparent>
                        <!--Icon for password-->
                        <ion-icon item-left>
                            <i icon-small class="icon {{data.iconLock}}"></i>
                        </ion-icon>
                        <!---Input field password-->
                        <ion-label floating>{{data.password}}</ion-label>
                        <ion-input required type="password" [(ngModel)]="registerReq.password"></ion-input>
                        <ion-label error-field color="secondary" no-margin *ngIf="!isPasswordValid">
                            {{data.errorPassword}}</ion-label>
                    </ion-item>

                    <!---Register button-->
                    <button ion-button float-right clear button-clear (click)="userRegister()">{{data.submit}}</button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>