<!-- Themes Login + logo -->
<ion-content white-background>
    <ion-grid *ngIf="data != null">
        <ion-row wrap padding>
            <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <button ion-button button-clear clear (click)="onEvent('onSkip')">{{data.skip}}</button>
                <!---Logo-->
                <img padding-bottom [src]="data.logo" *ngIf="data.logo != null">
                <!---Input field username-->
                <ion-item transparent>
                    <ion-label floating>{{data.username}}</ion-label>
                    <ion-input type="text" [(ngModel)]="loginReq.customerId"></ion-input>
                    <!-- <ion-label error-field color="secondary" no-margin *ngIf="!isUsernameValid">{{data.errorUser}} -->
                    <!-- </ion-label> -->
                </ion-item>
                <!---Input field password-->
                <ion-item transparent>
                    <ion-label floating>{{data.password}}</ion-label>
                    <ion-input type="password" [(ngModel)]="loginReq.password"></ion-input>
                    <!-- <ion-label error-field color="secondary" no-margin *ngIf="!isPasswordValid">{{data.errorPassword}} -->
                    <!-- </ion-label> -->
                </ion-item>
                <!---Login button-->
                <button ion-button float-left button-clear-outline round outline
                    (click)="userLogin()">{{data.login}}</button>

                <!---Register button-->
                <button ion-button float-left button-clear-outline round outline
                    (click)="onEvent('onRegister')">{{data.register}}</button>
            </ion-col>
            <!---Share Section-->
            <!-- <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 social> -->
            <!---Facebook button-->
            <!-- <button ion-button round outline color="facebook" (click)="onEvent('onFacebook')">Facebook</button> -->
            <!---Twitter button-->
            <!-- <button ion-button round outline color="twitter" (click)="onEvent('onTwitter')">Twitter</button> -->
            <!---Google button-->
            <!-- <button ion-button round outline color="google" (click)="onEvent('onGoogle')">Google</button> -->
            <!---Pinterest button-->
            <!-- <button ion-button round outline color="pinterest" (click)="onEvent('onPinterest')">Pinterest</button> -->
            <!-- </ion-col> -->
            <!---End Share Section-->
        </ion-row>
    </ion-grid>
</ion-content>