<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div buy *ngIf="isBuyButtonEnabled">
      <ion-title>{{title}}</ion-title>
      <button ion-button defoult-button
        onclick="window.open('https://codecanyon.net/item/ionic-3-ui-themetemplate-app-material-design-blue-light/20234423?ref=CreativeForm')">
        BUY NOW
      </button>
    </div>
    <!---Title-->
    <ion-title *ngIf="!isBuyButtonEnabled">{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-list no-padding no-margin *ngIf="pages.length">
    <button ion-item padding-left no-lines item-title submenu *ngFor="let p of pages" (click)="checkAndLoadPage(p)">
      {{p.title}}
    </button>
  </ion-list>
</ion-content>