<div class="container">
  <div class="margin-top-25 row">
    <div class="col-xl-8 col-lg-8 content-right-offset">
      <!-- Hedline -->
      <h3 class="margin-top-50">Payment Details</h3>
      <div class="row">
        <div style="    margin-left: 2%;       min-height: 100px;      margin-right: 0%;">
          <ul class="intro-stats margin-top-45 ">
            <!-- <li>
              <strong class="counter">{{apt.approved}}</strong>
              <span>Approved Appointments</span>
            </li> -->
            <!-- <li>
              <strong class="counter">{{apt.rejected}}</strong>
              <span>Pending Appointments</span>
            </li> -->
            <li>
              <strong class="counter">{{apt.total}}</strong>
              <span>Total Payments</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row  margin-top-30">
    <div class="col-xl-12 col-md-12">
      <div class="section-headline margin-bottom-30">
        <h4>Payment Details</h4>
      </div>
      <table class="basic-table">
        <tbody>
          <tr>
            <th>Policy No</th>
            <th>user Id</th>
            <th>Amount</th>
            <th>Card Number</th>
            <th>Date</th>
          </tr>

          <tr *ngFor="let a of payments;">
            <td>{{a?.policyNo}}</td>
            <td>{{a?.userId }}</td>
            <td>{{a?.amount}}</td>
            <td>{{a?.cardNo}}</td>
            <td>{{a?.date | date : 'mediumDate'}}</td>


          </tr>
        </tbody>
      </table>
    </div>
  </div>




</div>