<div class="container">
  <div class="row">
    <div class="col-xl-8 col-lg-8 content-right-offset">


      <!-- Hedaline -->
      <h3>Premium Payment</h3>

      <!-- Billing Cycle Radios  -->

      <!-- Hedline -->
      <h3 class="margin-top-50">Make your payment here...</h3>

      <div class="row payment-form-row">

        <div class="col-md-6">
          <div class="card-label">
            <input id="PolicyNo" name="PolicyNo" required type="number" [(ngModel)]="payReq.policyNo"
              placeholder="Policy No.">
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-label">
            <input id="nameOnCard" name="nameOnCard" required type="text" [(ngModel)]="payReq.name"
              placeholder="Cardholder Name">
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-label">
            <input id="cardNumber" name="cardNumber" placeholder="Credit Card Number" required type="number"
              [(ngModel)]="payReq.cardNo">
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-label">
            <input id="amount" name="amount" placeholder="Amount" required type="number" [(ngModel)]="payReq.amount">
          </div>
        </div>



        <div class="col-md-4">
          <div class="card-label">
            <label for="expiryDate">Expiry Year</label>
            <input id="expirynDate" placeholder="Expiry Date" required type="date" [(ngModel)]="payReq.expiryDate">
          </div>
        </div>

        <div class="col-md-4">
          <div class="card-label">
            <input id="cvv" required type="number" placeholder="CVV" [(ngModel)]="payReq.cvv">
          </div>
        </div>

      </div>

      <button class="button big ripple-effect margin-top-40 margin-bottom-65" (click)="attemptPay()">Proceed
        Payment</button>

    </div>


    <!-- Summary -->
    <div class="col-xl-4 col-lg-4 margin-top-0 margin-bottom-60">

      <!-- Summary -->
      <div class="boxed-widget summary margin-top-0">
        <div class="boxed-widget-headline">
          <h3>Summary</h3>
        </div>
        <div class="boxed-widget-inner">
          <ul>
            <li>Amount<span>INR {{payReq.amount}}</span></li>
            <li>GST<span>INR 0</span></li>
            <li class="total-costs">Final Price <span>{{payReq.amount}}</span></li>
          </ul>
        </div>
      </div>
      <!-- Summary / End -->

      <!-- Checkbox -->
      <!-- <div class="checkbox margin-top-30">
        <input type="checkbox" id="two-step">
        <label for="two-step"><span class="checkbox-icon"></span> I agree to the <a href="#">Terms and Conditions</a>
          and the <a href="#">Automatic Renewal Terms</a></label>
      </div> -->
    </div>

  </div>
</div>